body 
{
    background: linear-gradient(180deg, #F9F3EF 0%, #D2C1B6 100%);
    color: #212529;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #173562;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background transition*/
  background: linear-gradient(180deg, #F9F3EF 0%, #D2C1B6 100%);
  overflow: hidden;
}

/* background image shadow */
.img-shadow {
  filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.15));
}
/* background image */
.hero-image {
  max-width: 5000px;
  width: 80%;
  height: auto;
  opacity: 0.9;
}


#general-form
{
    background: #ebe5e5;
    overflow: hidden;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    opacity: 94%
}
h2
{
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    font-size: 1.8em;
}
input[type="text"], input[type="password"], label 
{
    width: 100%;
    box-sizing: border-box;
}

input[type="text"], input[type="password"] 
{
    padding: 12px;
    border-color: #afafaf;    
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}
        
#passwordError 
{
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 5px;
}
button[type="submit"] 
{
    background-color: #456882;
    border-color: #38556c;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 10px;
}
.back
{
   padding-top: 10px; 
}
button[type="submit"]:hover 
{
    background-color: #456882ca;
}
