/* General Styles */
body {
            font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
            background-color: #f4f7f6; /* Light gray background */
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh; /* Fullheight */
            margin: 0;
            background-image: url("signupLogo.png");
        }

        /* Form Container Styles */
        #signupForm {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px; /*form width */
            display: flex;
            flex-direction: column;
            gap: 15px; /* Spacing between*/
            
        }
        h2 {
            text-align: center;
            color: #333;
            margin-bottom: 25px;
            font-size: 1.8em;
        }
        input[type="text"],
        input[type="password"],
        label {
            width: 100%;
            box-sizing: border-box;
        }

        input[type="text"],
        input[type="password"] {
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1em;
            transition: border-color 0.3s;
        }

        input[type="text"]:focus,
        input[type="password"]:focus {
            border-color: #007bff; /* Highlight on focus */
            outline: none;
        }

        label {
            font-weight: 600;
            color: #555;
            margin-top: 5px;
        }
        
        /* Error Message */
        #passwordError {
            font-size: 0.9em;
            margin-top: 0;
            margin-bottom: 5px;
        }

        /* Submit Button */
        button[type="submit"] {
            background-color: #007bff; /* Primary color blue */
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.1em;
            font-weight: 600;
            transition: background-color 0.3s ease;
            margin-top: 10px;
        }

        button[type="submit"]:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }
