<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linku - Sign Up</title>
    <link rel="stylesheet" href="/signup-style.css"> 

<h2> Sign Up </h2>
<body>
<form id = "signupForm" action = "/signup" action = "registerAccount.php" method= "POST">
    <input type = "text" name = "user_id" placeholder= "User ID" required />
    <input type = "password" name = "password" placeholder= "Password" required />
    <input type = "text" name = "name" placeholder= "Name" required />
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <label for="confirm_password">Confirm Password</label>
    <input type="password" id="confirm_password" name="confirm_password" required>
    <p id="passwordError" style="color: red;"></p>
    <button type = "submit"> Sign up </button>
</form>
<button type ="button" href="/home"> back</button>
</body>
<script src = "register.js"></script>